// $link_color: #560319;
$gray: #eef2f5;
$base-color: #4c5667;
$logo-color: #0165ae;
$dlf-blue: #236da3;

$twitter-blue: #4099ff;
$linkedin-blue: #0177b5;
$rss-orange: #f17330;
$envelope-red: #d83232;
