// @see https://getbootstrap.com/docs/5.2/customize/sass/ to customize colors
// https://getbootstrap.com/docs/5.2/customize/color/ for colors 
@use 'variables' as *;

$primary: $dlf-blue;
$info: #00819b;

@use 'bootstrap/scss/bootstrap' with (
  $primary: $primary,
  $info: $info
);
@use 'base';

// $font-family-serif: "Lora", serif;
// $headings-font-family: $font-family-sans-serif;

h1 { 
    font-family: 'Lora', serif; 
}
